<div class="dialog_box">
    <form [formGroup]="menuForm">
        <div class="dialog_header">
            <div class="header">{{ dialogHeader }}</div>
            <button class="close_button" (click)="cancelDialog()">
                <mat-icon>close</mat-icon>
            </button>
        </div>
        <div class="dialog_content">
            <div class="row">
                <div class="col-sm-4">
                    <mat-form-field appearance="outline" class="w-full mb-4">
                        <mat-label>Menu Name</mat-label>
                        <input matInput formControlName="menuName" required />
                        <mat-error *ngIf="menuForm.get('menuName')?.hasError('required')">This field
                            is required
                        </mat-error>
                    </mat-form-field>
                </div>
                <div class="col-sm-4">
                    <mat-form-field appearance="outline" class="w-full mb-4">
                        <mat-label>Menu Type</mat-label>
                        <mat-select formControlName="menuType" required>
                            <mat-option [value]="1">Main Menu</mat-option>
                            <mat-option [value]="2">Sub Menu</mat-option>
                        </mat-select>
                        <mat-error *ngIf="menuForm.get('menuType')?.hasError('required')">This field
                            is required.
                        </mat-error>
                    </mat-form-field>
                </div>
                <div class="col-sm-4" *ngIf="menuForm.get('menuType')?.value === 2">
                    <mat-form-field appearance="outline" class="w-full mb-4">
                        <mat-label>Parent Menu</mat-label>
                        <mat-select formControlName="parentMenuId">
                            <mat-option *ngFor="let menu of mainMenus" [value]="menu.id">
                                {{ menu.menuName }}
                            </mat-option>
                        </mat-select>

                    </mat-form-field>
                </div>
                <div class="col-sm-4">
                    <mat-form-field appearance="outline" class="w-full mb-4">
                        <mat-label>Menu Path</mat-label>
                        <input matInput formControlName="menuPath" />
                        <mat-error *ngIf="menuForm.get('menuPath')?.hasError('required')">This field
                            is required.
                        </mat-error>
                    </mat-form-field>
                </div>
                <div class="col-sm-4">
                    <mat-form-field appearance="outline" class="w-full mb-4">
                        <mat-label>Menu Icon</mat-label>
                        <input matInput formControlName="menuIcon" />
                        <mat-error *ngIf="menuForm.get('menuPath')?.hasError('required')">This field
                            is required.
                        </mat-error>
                    </mat-form-field>
                </div>
                <div class="col-sm-4">
                    <mat-checkbox formControlName="isDefault">Is Default</mat-checkbox>
                </div>
                <div class="col-sm-4">
                    <mat-checkbox formControlName="isActive">Is Active</mat-checkbox>
                </div>
            </div>
        </div>
        <div class="dialog_footer">
            <button mat-raised-button color="primary" class="save-button"  (click)="saveData()">
                Save {{dialogHeader}}
            </button>
            <button mat-raised-button color="warn" class="cancel-button"  (click)="cancelDialog()">
                Cancel
            </button>
        </div>
    </form>
</div>