/** Custom Material styles */

mat-card {
  margin-bottom: var(--gutter);
}

mat-card-header + mat-card-content {
  margin-top: var(--gutter);
}

.form-field-full {
  .mat-mdc-form-field {
    width: 100%;
    margin-top:10px
  }
}
.mat-mdc-form-field-infix{
  height: 40px !important;
  padding-top:9px !important;
  padding-bottom:10px !important;
  font-size: 14px !important;
}
.mat-mdc-text-field-wrapper{
    height:40px !important;
}

.text_area >.mat-mdc-text-field-wrapper{
    height:auto !important;
}
.text_area:first-child div {
  height: 100% !important;
}
.text_area{
    width: 100%;
    display: contents;
}

.mat-mdc-text-field-wrapper .mat-mdc-form-field-flex .mat-mdc-floating-label {
    top: calc(var(--mat-form-field-container-height, 35px) / 2) !important;
}
.mdc-floating-label--float-above {
    --mat-mdc-form-field-label-transform: translateY( -24px) scale(var(--mat-mdc-form-field-floating-label-scale, 0.75)) !important;
    transform: var(--mat-mdc-form-field-label-transform);
}

.mat-mdc-form-field:not(.mat-form-field-disabled) .mat-mdc-floating-label.mdc-floating-label {
    font-size: 14px !important;
}

// .mat-mdc-text-field-wrapper .mat-mdc-form-field-flex .mat-mdc-floating-label {
//     top: calc(var(--mat-form-field-container-height, 56px) / 2);
// }