<div class="dialog_box">
    <form [formGroup]="roleForm">
        <div class="dialog_header">
            <div class="header">{{dialogHeader}}</div>
            <button class="close_button" (click)="cancelDialog()">
                <mat-icon>close</mat-icon>
            </button>
        </div>
        <div class="dialog_content">
            <div class="row">
                <div class="col-sm-4">
                    <mat-form-field appearance="outline" class="w-full mb-4">
                        <mat-label>Role Name</mat-label>
                        <input matInput formControlName="roleName" required />
                        <mat-error *ngIf="roleForm.get('roleName')?.hasError('required')">
                            Role Name is required
                        </mat-error>
                        <mat-error *ngIf="roleForm.get('roleName')?.hasError('minlength')">
                            Role Name must be at least 3 characters long
                        </mat-error>
                    </mat-form-field>
                </div>
                <div class="col-sm-8" *ngIf="!loading">
                    <mat-form-field appearance="outline" class="w-full mb-4 text_area">
                        <mat-label>Description</mat-label>
                        <textarea matInput formControlName="description"> </textarea>
                        <!-- <textarea matInput formControlName="description" rows="4"></textarea> -->
                        <mat-error *ngIf="roleForm.get('description')?.hasError('maxlength')">
                            Description cannot exceed 500 characters
                        </mat-error>
                    </mat-form-field>

                    <!-- <mat-form-field>
                        <mat-label>Textarea</mat-label>
                        <textarea matInput formControlName="description"></textarea>
                    </mat-form-field> -->
                </div>
                <div class="col-sm-4" *ngIf="loading">Loading Menus...</div>
            </div>
        </div>
        <div class="dialog_footer">
            <button mat-raised-button [color]="colorSave" class="save-button" (click)="saveData()">
                Save Mapping
            </button>
            <button mat-raised-button [color]="colorClose" class="cancel-button"
                (click)="cancelDialog()">
                Cancel
            </button>
        </div>
    </form>
</div>